<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container d-flex justify-content-center">
    <a class="navbar-brand" href="#">
      <img src="/img/shopping-cart.png" alt="Carrito de compras" class="shopping-cart-icon">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
